For installation of **DSSEX** please follow [installation instructions](./readme.ipynb#Install-DSSEX) or run the next cell.

In [1]:
# in case you want to install dssex in the environment of Jupyter e.g. Google Colab
%pip install -q dssex

Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import dssex
from egrid import create_objects, make_data_frames, check_frames, model_from_frames
import pandas as pd
pd.set_option('display.max_colwidth', None)

def print_frames(frames):
    """Prints pandas.DataFrame instances stored in a dict"""
    messages = frames.get('Message')
    if messages is not None:
        is_error = 1 < messages.level
        errors = messages.loc[is_error].message
        if not errors.empty:
            print('Errors\n')
            for _, error in errors.items():
                print()
                print(error)
            print()
    for key,df in frames.items():
        print()
        print(key)
        display(df)
        
def print_results(res):
    """Prints values returned from function dssex.estimate"""
    messages, vals = res
    if not messages.empty:
        print('\n\n')
        print('Messages')
        display(messages)
    last_index = len(vals) - 2
    for idx, df in enumerate(vals, -1):
        print('\n\n')
        print(f'{"RESULT >> " if idx==last_index else ""}Optimization Step: {idx}')
        for name in ['nodes', 'branches', 'injections']:
            print()
            print(name.title())
            display(df[name])

# Volt-Var-Control

In [3]:
schema00 = """
slack +-----------transformer-----------+ n +-----------> heating
      Tlink=tap    y_lo=1e3-1e3j          |               P10=200
                   y_tr=1e-6+1e-6j        |
                                          | 
                                          | 
                         cap ||---------+ n +-------((~)) motor
                          Q10=-10                          P10=160
                          Exp_v_q=2                        Q10=10

#.
Deft(id=tap type=var min=-16 max=16 value=0 is_discrete=True cost=.03)
Defk(id=kcap type=var min=0 max=5 value=0 is_discrete=True cost=.05)
Klink(id_of_injection=cap id_of_factor=kcap part=q)
Vlimit(min=.95)
"""
frames00 = make_data_frames(create_objects(schema00))
print_frames(frames00)

Branch

C:\Users\live\venv\3_10\lib\site-packages\egrid\builder.py:495: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  dataframes[Factor.__name__] = pd.concat(
C:\Users\live\venv\3_10\lib\site-packages\egrid\builder.py:510: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  dataframes[Vlimit.__name__] = pd.concat([vlimits, vlimits2])

            id id_of_node_A id_of_node_B            y_lo                y_tr
0  transformer        slack            n  1000.0-1000.0j  0.000001+0.000001j

Slacknode

  id_of_node         V
0      slack  1.0+0.0j

Injection

        id id_of_node    P10   Q10  Exp_v_p  Exp_v_q
0  heating          n  200.0   0.0      0.0      0.0
1      cap          n    0.0 -10.0      0.0      2.0
2    motor          n  160.0  10.0      0.0      0.0

Output

Empty DataFrame
Columns: [id_of_batch, id_of_device, id_of_node]
Index: []

PValue

Empty DataFrame
Columns: [id_of_batch, P, direction, cost]
Index: []

QValue

Empty DataFrame
Columns: [id_of_batch, Q, direction, cost]
Index: []

IValue

Empty DataFrame
Columns: [id_of_batch, I]
Index: []

Vvalue

Empty DataFrame
Columns: [id_of_node, V]
Index: []

Vlimit

  id_of_node   min  max step
0             0.95  1.1   -1

Term

Empty DataFrame
Columns: [id, args, fn, weight, step]
Index: []

Factor

,id,type,id_of_source,value,min,max,is_discrete,m,n,step,cost
0,kcap,var,kcap,0.0,0.0,5.0,True,1.00000,0.0,-1,0.05
0,tap,var,tap,0.0,-16.0,16.0,True,-0.00625,1.0,-1,0.03

Message

Empty DataFrame
Columns: [message, level]
Index: []

Injectionlink

  injid part    id  step
0   cap    q  kcap    -1

Terminallink

      branchid nodeid   id  step
0  transformer  slack  tap    -1

In [4]:
pd.DataFrame.from_records(check_frames(frames00), columns=['message','level'])

                   message  level
0  count of slack-nodes: 1      0
1     count of branches: 1      0
2   count of injections: 3      0

[step_params](./help_params.ipynb)

In [5]:
model00 = model_from_frames(frames00)
step_params=[
    # first step: minimize voltage violations
    dict(objectives='U', constraints='U'),
    # second step: minimize cost
    dict(objectives='CL', constraints='U', floss=2)
]

results00 = dssex.estimate(model00, step_params)

******************************************************************************
This program contains Ipopt, a library for large-scale nonlinear optimization.
 Ipopt is released as open source code under the Eclipse Public License (EPL).
         For more information visit https://github.com/coin-or/Ipopt
******************************************************************************

This is Ipopt version 3.14.11, running with linear solver MUMPS 5.4.1.

Number of nonzeros in equality constraint Jacobian...:       10
Number of nonzeros in inequality constraint Jacobian.:        0
Number of nonzeros in Lagrangian Hessian.............:        3

Total number of variables............................:        4
                     variables with only lower bounds:        0
                variables with lower and upper bounds:        0
                     variables with only upper bounds:        0
Total number of equality constraints.................:        4
Total number of inequality constraints...............:        0
        inequality constraints with only lower bounds:        0
   inequality constraints with lower and upper bounds:        0
        inequality constraints with only upper bounds:        0

iter    objective    inf_pr   inf_du lg(mu)  ||d||  lg(rg) alpha_du alpha_pr  ls
   0  0.0000000e+00 1.20e+02 0.00e+00  -1.0 0.00e+00    -  0.00e+00 0.00e+00   0
   1  0.0000000e+00 1.06e+00 0.00e+00  -1.0 6.94e-02    -  1.00e+00 1.00e+00h  1
   2  0.0000000e+00 6.71e-05 0.00e+00  -2.5 5.92e-04    -  1.00e+00 1.00e+00h  1
   3  0.0000000e+00 4.55e-13 0.00e+00  -8.6 4.94e-08    -  1.00e+00 1.00e+00h  1

Number of Iterations....: 3

                                   (scaled)                 (unscaled)
Objective...............:   0.0000000000000000e+00    0.0000000000000000e+00
Dual infeasibility......:   0.0000000000000000e+00    0.0000000000000000e+00
Constraint violation....:   4.5323656257117847e-14    4.5474735088646412e-13
Variable bound violation:   0.0000000000000000e+00    0.0000000000000000e+00
Complementarity.........:   0.0000000000000000e+00    0.0000000000000000e+00
Overall NLP error.......:   4.5323656257117847e-14    4.5474735088646412e-13


Number of objective function evaluations             = 4
Number of objective gradient evaluations             = 4
Number of equality constraint evaluations            = 4
Number of inequality constraint evaluations          = 0
Number of equality constraint Jacobian evaluations   = 4
Number of inequality constraint Jacobian evaluations = 0
Number of Lagrangian Hessian evaluations             = 3
Total seconds in IPOPT                               = 0.021

EXIT: Optimal Solution Found.
      nlpsol  :   t_proc      (avg)   t_wall      (avg)    n_eval
       nlp_f  |        0 (       0)   3.00us (750.00ns)         4
       nlp_g  |        0 (       0)  13.00us (  3.25us)         4
  nlp_grad_f  |        0 (       0)  10.00us (  2.00us)         5
  nlp_hess_l  |        0 (       0)  37.00us ( 12.33us)         3
   nlp_jac_g  |        0 (       0) 875.00us (175.00us)         5
       total  |  32.00ms ( 32.00ms)  28.62ms ( 28.62ms)         1
NLP0012I
              Num      Status      Obj             It       time                 Location
NLP0014I             1         OPT 0.00011193819       11 0.016
NLP0012I
              Num      Status      Obj             It       time                 Location
NLP0014I             1         OPT 0.00011193819       11 0.013
NLP0014I             2         OPT 0.00011193819        7 0.001
NLP0014I             3         OPT 0.00011287555        6 0
NLP0014I             4         OPT 0.00011287554        2 0
NLP0012I
              Num      Status      Obj             It       time                 Location
NLP0014I             1         OPT 0.00011287554        0 0
Cbc0012I Integer solution of 0.00011287554 found by DiveMIPFractional after 0 iterations and 0 nodes (0.01 seconds)
Cbc0001I Search completed - best objective 0.0001128755408450736, took 0 iterations and 0 nodes (0.01 seconds)
Cbc0035I Maximum depth 0, 0 variables fixed on reduced cost
      solver  :   t_proc      (avg)   t_wall      (avg)    n_eval
       nlp_f  |        0 (       0)  38.00us (666.67ns)        57
       nlp_g  |        0 (       0) 136.00us (  2.57us)        53
  nlp_grad_f  |        0 (       0)  53.00us (946.43ns)        56
  nlp_hess_l  |        0 (       0) 264.00us (  7.14us)        37
   nlp_jac_g  |        0 (       0) 180.00us (  3.67us)        49
       total  |  46.00ms ( 46.00ms)  55.16ms ( 55.16ms)         1
NLP0012I
              Num      Status      Obj             It       time                 Location
NLP0014I             1         OPT 40.354084        8 0.015
NLP0012I
              Num      Status      Obj             It       time                 Location
NLP0014I             1         OPT 40.354252        6 0
NLP0014I             2         OPT 40.354252        2 0
NLP0012I
              Num      Status      Obj             It       time                 Location
NLP0014I             1         OPT 40.354252        0 0
Cbc0012I Integer solution of 40.354252 found by DiveMIPFractional after 0 iterations and 0 nodes (0.00 seconds)
NLP0014I             2         OPT 40.354252        6 0
NLP0014I             3         OPT 40.386358        5 0
Cbc0001I Search completed - best objective 40.35425191446355, took 0 iterations and 0 nodes (0.00 seconds)
Cbc0032I Strong branching done 1 times (11 iterations), fathomed 1 nodes and fixed 0 variables
Cbc0035I Maximum depth 0, 0 variables fixed on reduced cost
      solver  :   t_proc      (avg)   t_wall      (avg)    n_eval
       nlp_f  |        0 (       0)  31.00us (885.71ns)        35
       nlp_g  |        0 (       0)  62.00us (  1.88us)        33
  nlp_grad_f  |  15.00ms (333.33us)  70.00us (  1.56us)        45
  nlp_hess_l  |        0 (       0) 185.00us (  6.85us)        27
   nlp_jac_g  |        0 (       0) 117.00us (  3.00us)        39
       total  |  15.00ms ( 15.00ms)  17.17ms ( 17.17ms)         1

CasADi - 2024-01-03 20:30:37 WARNING("solver:nlp_grad failed: NaN detected for output grad_gamma_p, at (row 0, col 0).") [.../casadi/core/oracle_function.cpp:326]
CasADi - 2024-01-03 20:30:37 WARNING("Failed to calculate multipliers") [.../casadi/core/nlpsol.cpp:798]
CasADi - 2024-01-03 20:30:37 WARNING("solver:nlp_grad failed: NaN detected for output grad_gamma_p, at (row 0, col 0).") [.../casadi/core/oracle_function.cpp:326]
CasADi - 2024-01-03 20:30:37 WARNING("Failed to calculate multipliers") [.../casadi/core/nlpsol.cpp:798]
C:\Users\live\venv\3_10\lib\site-packages\dssex\result.py:827: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  branches = pd.concat([branch_res, bridgeterminal_res])
C:\Users\live\venv\3_10\lib\site-packages\dssex\result.py:827: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  branches = pd.concat([branch_res, bridgeterminal_res])
C:\Users\live\venv\3_10\lib\site-packages\dssex\result.py:827: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  branches = pd.concat([branch_res, bridgeterminal_res])

Results for two steps. 

- Initial power flow calculation
- Optimization

In [ ]:
print_results(results00)